# Combined build + deploy pipeline (Kubectl@1)
name: $(date:yyyyMMdd)$(rev:.r)

trigger: none   # change if you want CI trigger

variables:
  azureSubscriptionEndpoint: '222211d0-c114-439a-8826-2d7498d57072'   # service connection for ACR / Azure RM (keep in library if secret)
  acrJson: '{"loginServer":"mycontainerfordevops.azurecr.io", "id" : "/subscriptions/309f0051-440e-4163-ba9d-1d1f2bb6bf5d/resourceGroups/devops/providers/Microsoft.ContainerRegistry/registries/mycontainerfordevops"}'
  imageName: 'mycontainerfordevops.azurecr.io/azuredevopsfirstpush:$(Build.BuildId)'
  kubernetesServiceEndpoint: 'b241eb09-a51d-4f54-aec4-adde5febdbbc'   # your K8s service connection id
  artifactName: 'drop'

stages:
- stage: Build
  displayName: Build and push image
  jobs:
  - job: Job_1
    displayName: Agent job 1
    pool:
      name: Default
    steps:
    - checkout: self
      clean: true
      fetchTags: false

    - task: Docker@0
      displayName: Build an image
      inputs:
        azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
        azureContainerRegistry: '$(acrJson)'
        imageName: '$(imageName)'
        qualifyImageName: false
        includeLatestTag: true

    - task: Docker@0
      displayName: Push an image
      inputs:
        azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
        azureContainerRegistry: '$(acrJson)'
        action: 'Push an image'
        imageName: '$(imageName)'
        qualifyImageName: false
        includeLatestTag: true

    - task: CopyFiles@2
      displayName: 'Copy Files to: $(Build.ArtifactStagingDirectory)'
      inputs:
        Contents: azure-aks.yaml
        TargetFolder: $(Build.ArtifactStagingDirectory)

    - task: PublishPipelineArtifact@1
      displayName: 'Publish Artifact: $(artifactName)'
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)'
        artifact: '$(artifactName)'
        publishLocation: 'pipeline'

- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: Deploy_Job
    displayName: Agent job - Deploy
    pool:
      name: Default
    steps:
    - task: DownloadPipelineArtifact@2
      displayName: 'Download artifact: $(artifactName)'
      inputs:
        artifact: '$(artifactName)'
        path: '$(Pipeline.Workspace)'

    # --- Preferred: use Kubectl task version 1 (available in Azure DevOps)
    - task: Kubectl@1
      displayName: 'kubectl apply (Kubectl@1)'
      inputs:
        # Kubectl@1 supports the same 'kubernetesServiceEndpoint' input used previously.
        # Provide your Kubernetes service connection id/name (service connection created in Project Settings -> Service connections)
        kubernetesServiceEndpoint: $(kubernetesServiceEndpoint)
        namespace: 'default'
        command: 'apply'
        useConfigurationFile: 'true'
        configuration: '$(Pipeline.Workspace)/$(artifactName)/azure-aks.yaml'
        arguments: ''
        secretType: 'dockerRegistry'
        containerRegistryType: 'Azure Container Registry'
        forceUpdate: 'true'
        versionOrLocation: 'version'
        versionSpec: '1.7.0'
        checkLatest: 'false'

    # --- Alternate fallback: if Kubectl task is not available in your org,
    # uncomment the following steps which use Azure CLI to get AKS credentials and run kubectl.
    # Make sure the agent has az installed (or run the install step) and the service connection has appropriate permissions.
    #
    # - task: AzureCLI@2
    #   displayName: 'Azure CLI - get AKS creds and kubectl apply (fallback)'
    #   inputs:
    #     azureSubscription: $(azureSubscriptionEndpoint)
    #     scriptType: bash
    #     scriptLocation: inlineScript
    #     inlineScript: |
    #       # replace with your resource group and AKS cluster name
    #       RESOURCE_GROUP="my-aks-rg"
    #       AKS_CLUSTER="my-aks-cluster"
    #
    #       # get credentials for kubectl
    #       az aks get-credentials --resource-group "$RESOURCE_GROUP" --name "$AKS_CLUSTER" --overwrite-existing
    #
    #       # apply manifest
    #       kubectl apply -f "$(Pipeline.Workspace)/$(artifactName)/azure-aks.yaml" --namespace default
    #
    #   failOnStandardError: true